html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  padding: 0 3rem;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  text-align: center;
}
/* common classes */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

header a {
  color: #fff;
  padding: 1rem;
}
.brand {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
}
.row.center {
  justify-content: center;
}

/* image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/* card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  height: auto;
}
.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}
.rating span {
  color: #f0c040;
  padding: 0.1rem;
}
.price {
  font-size: 2rem;
}
